In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
filePath = "Bank_Statemnt.csv"

In [3]:
df = pd.read_csv(filePath)
print("Number of records:", len(df))

Number of records: 31

In [4]:
# Rename columns
colMap = {"S.No.": "sno", "Date": "date", "Description": "desc", "IRef number": "iref", "Amount":"amount", "Dr/Cr Dr": "tranType", "Balance": "balance"}
colMap

{'S.No.': 'sno',
 'Date': 'date',
 'Description': 'desc',
 'IRef number': 'iref',
 'Amount': 'amount',
 'Dr/Cr Dr': 'tranType',
 'Balance': 'balance'}

In [5]:
df.rename(columns = colMap, inplace=True)

In [6]:
df.columns

Index(['sno', 'date', 'desc', 'iref', 'amount', 'tranType', 'balance'], dtype='object')

In [7]:
df

,sno,date,desc,iref,amount,tranType,balance
0,20/02/2019,NaN,CASH WITHDRAWAL BY SELF,697,11032,DR,173275.45
1,19/02/2019,NaN,TO CLG MR xxxxx,664,1112,DR,184307.45
2,19/02/2019,NaN,FUND TRANSFER-CMS- xxxxx,CMS-190219000DB0,444553,DR,185419.45
3,19/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190219000DAJ,500000,DR,629972.45
4,19/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190219000DAW,459557,DR,1129972.45
5,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAT,600000,DR,1589529.45,NaN
6,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAI CMS-190218002FCS,600000,DR,2189529.45,NaN
7,19/02/2019,NEFT-CMS-xxxxx,122510,DR,2789529.45,NaN,NaN
8,18/02/2019,NEFT 000175085354 xxxxxx,NEFTINW-0141851624,200000,CR,2912039.45,NaN
9,18/02/2019,CMS-190218001CT7,150000,DR,2712039.45,NaN,NaN
10,18/02/2019,ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx,CMS-190218001CT8,149643,DR,2862039.45,NaN
11,18/02/2019,FUND TRANSFER-CMS- xxxxxx,CMS-1902180019QW,38184,DR,3011682.45,NaN
12,18/02/2019,NEFT N049190753883194 xxxxxxxxxxxx,NEFTINW-0141744336 692,264862,CR,3049866.45,NaN
13,18/02/2019,10000,DR,2785004.45,NaN,NaN,NaN
14,16/02/2019,TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx,CMS-1902160012NY,2500,DR,2795004.45,NaN
15,16/02/2019,TO CLG xxxxxxxxx,690,1950,DR,2797504.45,NaN
16,15/02/2019,NaN,TO CLG MR xxxxx,689,8000,DR,2799454.45
17,14/02/2019,NaN,0653LCBD1901911,56756,DR,2807454.45,NaN
18,14/02/2019,NaN,BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHA...,NaN,1180,DR,2864210.45
19,14/02/2019,NaN,2832000,CR,2865390.45,CR,NaN
20,14/02/2019,NaN,TO CLG xxxx,688,4577,DR,33390.45
21,13/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190213000W50,16500,DR,37967.45
22,13/02/2019,NaN,TO CLG xxxx,684,34650,DR,54467.45
23,13/02/2019,NaN,TO CLG xxxx,685,14449,DR,89117.45
24,13/02/2019,NaN,687,8909,DR,103566.45,NaN
25,12/02/2019,NaN,NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I...,CMS-190212001N49 CMS-190212001N47 CMS-19021200...,809916,DR,112475.45
26,12/02/2019,NaN,250000,DR,922391.45,NaN,NaN
27,12/02/2019,NaN,558187,DR,1172391.45,NaN,NaN
28,12/02/2019,NaN,14160,CR,1730578.45,NaN,NaN
29,12/02/2019,NaN,14160,DR,1716418.45,NaN,NaN
30,11/02/2019,NaN,200000,DR,1730578.45,NaN,NaN

In [8]:
# Regex patter for decimal
decimalRegx ='\d*\.?\d+'

# query to filter row having Balance: NaN and TrsactionType is not null and TrsactionType not a decimal
# Refer row# 19
query =  (pd.isnull(df['balance'])) & (pd.notnull(df['tranType'])) &  (~df['tranType'].str.contains(decimalRegx, regex=True, na=False))
df[query]

           sno date     desc iref      amount tranType  balance
19  14/02/2019  NaN  2832000   CR  2865390.45       CR      NaN

In [9]:
df.loc[query,'tranType'] = np.nan

In [10]:
df

,sno,date,desc,iref,amount,tranType,balance
0,20/02/2019,NaN,CASH WITHDRAWAL BY SELF,697,11032,DR,173275.45
1,19/02/2019,NaN,TO CLG MR xxxxx,664,1112,DR,184307.45
2,19/02/2019,NaN,FUND TRANSFER-CMS- xxxxx,CMS-190219000DB0,444553,DR,185419.45
3,19/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190219000DAJ,500000,DR,629972.45
4,19/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190219000DAW,459557,DR,1129972.45
5,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAT,600000,DR,1589529.45,NaN
6,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAI CMS-190218002FCS,600000,DR,2189529.45,NaN
7,19/02/2019,NEFT-CMS-xxxxx,122510,DR,2789529.45,NaN,NaN
8,18/02/2019,NEFT 000175085354 xxxxxx,NEFTINW-0141851624,200000,CR,2912039.45,NaN
9,18/02/2019,CMS-190218001CT7,150000,DR,2712039.45,NaN,NaN
10,18/02/2019,ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx,CMS-190218001CT8,149643,DR,2862039.45,NaN
11,18/02/2019,FUND TRANSFER-CMS- xxxxxx,CMS-1902180019QW,38184,DR,3011682.45,NaN
12,18/02/2019,NEFT N049190753883194 xxxxxxxxxxxx,NEFTINW-0141744336 692,264862,CR,3049866.45,NaN
13,18/02/2019,10000,DR,2785004.45,NaN,NaN,NaN
14,16/02/2019,TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx,CMS-1902160012NY,2500,DR,2795004.45,NaN
15,16/02/2019,TO CLG xxxxxxxxx,690,1950,DR,2797504.45,NaN
16,15/02/2019,NaN,TO CLG MR xxxxx,689,8000,DR,2799454.45
17,14/02/2019,NaN,0653LCBD1901911,56756,DR,2807454.45,NaN
18,14/02/2019,NaN,BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHA...,NaN,1180,DR,2864210.45
19,14/02/2019,NaN,2832000,CR,2865390.45,NaN,NaN
20,14/02/2019,NaN,TO CLG xxxx,688,4577,DR,33390.45
21,13/02/2019,NaN,NEFT-CMS-xxxxxx,CMS-190213000W50,16500,DR,37967.45
22,13/02/2019,NaN,TO CLG xxxx,684,34650,DR,54467.45
23,13/02/2019,NaN,TO CLG xxxx,685,14449,DR,89117.45
24,13/02/2019,NaN,687,8909,DR,103566.45,NaN
25,12/02/2019,NaN,NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I...,CMS-190212001N49 CMS-190212001N47 CMS-19021200...,809916,DR,112475.45
26,12/02/2019,NaN,250000,DR,922391.45,NaN,NaN
27,12/02/2019,NaN,558187,DR,1172391.45,NaN,NaN
28,12/02/2019,NaN,14160,CR,1730578.45,NaN,NaN
29,12/02/2019,NaN,14160,DR,1716418.45,NaN,NaN
30,11/02/2019,NaN,200000,DR,1730578.45,NaN,NaN

In [11]:
def NumberOfCloumns():
    return len(df.columns)

In [12]:
def ColToShift(row):
    colCnt = NumberOfCloumns() 
    
    colShift = 0
    for i in range(colCnt-1,0,-1):
        if pd.isnull(row[i]):
            colShift = colShift+1
        else:
            break
    print("column shift: " , colShift)  
    
    return colShift;

In [13]:
df1 = df
#df1 = df[12:16]
#df1 = df[4:6]

In [14]:
colEndInd = NumberOfCloumns()-1 
for index, row in df1.iterrows():   
    print(index, " Before Change " , row['sno'], row['date'], row['desc'],row['iref'], row['amount'], row['tranType'],row['balance'] )            
    
        
    # Column of a row to be shifted towards right
    colShift = ColToShift(row)    
        
    if colShift >0:        
        for i in range(colEndInd,1,-1):                       
            colNum = i-colShift  
            
            print("Colums Index: " , i, "shiftPos", colNum)              
            
            if colNum <= 0:
                row[i]="" # empty, since no value available
            else:
                row[i] = row[colNum]
    
    # Moving fixed columns 
    row['date'] =  row['sno'] 
    row['sno'] = index + 1 
    
    # Persist the data type 
    row['balance'] = str(row['balance'])    
    
    print(index, " after Change " , row['sno'], row['date'], row['desc'],row['iref'], row['amount'], row['tranType'],row['balance'] )            
    print()
    print(type(row.balance))
    df1.loc[index] = row

0  Before Change  20/02/2019 nan CASH WITHDRAWAL BY SELF 697 11032 DR 173275.45
colum shift:  0
0  after Change  1 20/02/2019 CASH WITHDRAWAL BY SELF 697 11032 DR 173275.45

<class 'str'>
1  Before Change  19/02/2019 nan TO CLG MR xxxxx 664 1112 DR 184307.45
colum shift:  0
1  after Change  2 19/02/2019 TO CLG MR xxxxx 664 1112 DR 184307.45

<class 'str'>
2  Before Change  19/02/2019 nan FUND TRANSFER-CMS- xxxxx CMS-190219000DB0 444553 DR 185419.45
colum shift:  0
2  after Change  3 19/02/2019 FUND TRANSFER-CMS- xxxxx CMS-190219000DB0 444553 DR 185419.45

<class 'str'>
3  Before Change  19/02/2019 nan NEFT-CMS-xxxxxx CMS-190219000DAJ 500000 DR 629972.45
colum shift:  0
3  after Change  4 19/02/2019 NEFT-CMS-xxxxxx CMS-190219000DAJ 500000 DR 629972.45

<class 'str'>
4  Before Change  19/02/2019 nan NEFT-CMS-xxxxxx CMS-190219000DAW 459557 DR 1129972.45
colum shift:  0
4  after Change  5 19/02/2019 NEFT-CMS-xxxxxx CMS-190219000DAW 459557 DR 1129972.45

<class 'str'>
5  Before Change  19/02/2019 NEFT-CMS-xxxxx CMS-190219000DAT 600000 DR 1589529.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
5  after Change  6 19/02/2019 NEFT-CMS-xxxxx CMS-190219000DAT 600000 DR 1589529.45

<class 'str'>
6  Before Change  19/02/2019 NEFT-CMS-xxxxx CMS-190219000DAI CMS-190218002FCS 600000 DR 2189529.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
6  after Change  7 19/02/2019 NEFT-CMS-xxxxx CMS-190219000DAI CMS-190218002FCS 600000 DR 2189529.45

<class 'str'>
7  Before Change  19/02/2019 NEFT-CMS-xxxxx 122510 DR 2789529.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
7  after Change  8 19/02/2019  NEFT-CMS-xxxxx 122510 DR 2789529.45

<class 'str'>
8  Before Change  18/02/2019 NEFT 000175085354 xxxxxx NEFTINW-0141851624 200000 CR 2912039.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
8  after Change  9 18/02/2019 NEFT 000175085354 xxxxxx NEFTINW-0141851624 200000 CR 2912039.45

<class 'str'>
9  Before Change  18/02/2019 CMS-190218001CT7 150000 DR 2712039.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
9  after Change  10 18/02/2019  CMS-190218001CT7 150000 DR 2712039.45

<class 'str'>
10  Before Change  18/02/2019 ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx CMS-190218001CT8 149643 DR 2862039.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
10  after Change  11 18/02/2019 ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx CMS-190218001CT8 149643 DR 2862039.45

<class 'str'>
11  Before Change  18/02/2019 FUND TRANSFER-CMS- xxxxxx CMS-1902180019QW 38184 DR 3011682.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
11  after Change  12 18/02/2019 FUND TRANSFER-CMS- xxxxxx CMS-1902180019QW 38184 DR 3011682.45

<class 'str'>
12  Before Change  18/02/2019 NEFT N049190753883194 xxxxxxxxxxxx NEFTINW-0141744336 692 264862 CR 3049866.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
12  after Change  13 18/02/2019 NEFT N049190753883194 xxxxxxxxxxxx NEFTINW-0141744336 692 264862 CR 3049866.45

<class 'str'>
13  Before Change  18/02/2019 10000 DR 2785004.45 nan nan nan
colum shift:  3
Colums Index:  6 shiftPos 3
dtypeX <class 'float'>
Colums Index:  5 shiftPos 2
dtypeX <class 'float'>
Colums Index:  4 shiftPos 1
dtypeX <class 'float'>
Colums Index:  3 shiftPos 0
dtypeX <class 'str'>
Colums Index:  2 shiftPos -1
dtypeX <class 'str'>
13  after Change  14 18/02/2019   10000 DR 2785004.45

<class 'str'>
14  Before Change  16/02/2019 TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx CMS-1902160012NY 2500 DR 2795004.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
14  after Change  15 16/02/2019 TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx CMS-1902160012NY 2500 DR 2795004.45

<class 'str'>
15  Before Change  16/02/2019 TO CLG xxxxxxxxx 690 1950 DR 2797504.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
15  after Change  16 16/02/2019 TO CLG xxxxxxxxx 690 1950 DR 2797504.45

<class 'str'>
16  Before Change  15/02/2019 nan TO CLG MR xxxxx 689 8000 DR 2799454.45
colum shift:  0
16  after Change  17 15/02/2019 TO CLG MR xxxxx 689 8000 DR 2799454.45

<class 'str'>
17  Before Change  14/02/2019 nan 0653LCBD1901911 56756 DR 2807454.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
17  after Change  18 14/02/2019 nan 0653LCBD1901911 56756 DR 2807454.45

<class 'str'>
18  Before Change  14/02/2019 nan BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHASED 0653LCBD1901911 nan 1180 DR 2864210.45
colum shift:  0
18  after Change  19 14/02/2019 BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHASED 0653LCBD1901911 nan 1180 DR 2864210.45

<class 'str'>
19  Before Change  14/02/2019 nan 2832000 CR 2865390.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
19  after Change  20 14/02/2019  nan 2832000 CR 2865390.45

<class 'str'>
20  Before Change  14/02/2019 nan TO CLG xxxx 688 4577 DR 33390.45
colum shift:  0
20  after Change  21 14/02/2019 TO CLG xxxx 688 4577 DR 33390.45

<class 'str'>
21  Before Change  13/02/2019 nan NEFT-CMS-xxxxxx CMS-190213000W50 16500 DR 37967.45
colum shift:  0
21  after Change  22 13/02/2019 NEFT-CMS-xxxxxx CMS-190213000W50 16500 DR 37967.45

<class 'str'>
22  Before Change  13/02/2019 nan TO CLG xxxx 684 34650 DR 54467.45
colum shift:  0
22  after Change  23 13/02/2019 TO CLG xxxx 684 34650 DR 54467.45

<class 'str'>
23  Before Change  13/02/2019 nan TO CLG xxxx 685 14449 DR 89117.45
colum shift:  0
23  after Change  24 13/02/2019 TO CLG xxxx 685 14449 DR 89117.45

<class 'str'>
24  Before Change  13/02/2019 nan 687 8909 DR 103566.45 nan
colum shift:  1
Colums Index:  6 shiftPos 5
dtypeX <class 'float'>
Colums Index:  5 shiftPos 4
dtypeX <class 'str'>
Colums Index:  4 shiftPos 3
dtypeX <class 'str'>
Colums Index:  3 shiftPos 2
dtypeX <class 'str'>
Colums Index:  2 shiftPos 1
dtypeX <class 'str'>
24  after Change  25 13/02/2019 nan 687 8909 DR 103566.45

<class 'str'>
25  Before Change  12/02/2019 nan NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I/W CHQ RTN:686:DRAWERS SIGNATURE DIFFER 686:MICR INWARD 13:TO CLG xxxxxxxxxxx NEFT-CMS-SAM FINE O CMS-190212001N49 CMS-190212001N47 CMS-190212001N48 CMS-190211002RCE 809916 DR 112475.45
colum shift:  0
25  after Change  26 12/02/2019 NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I/W CHQ RTN:686:DRAWERS SIGNATURE DIFFER 686:MICR INWARD 13:TO CLG xxxxxxxxxxx NEFT-CMS-SAM FINE O CMS-190212001N49 CMS-190212001N47 CMS-190212001N48 CMS-190211002RCE 809916 DR 112475.45

<class 'str'>
26  Before Change  12/02/2019 nan 250000 DR 922391.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
26  after Change  27 12/02/2019  nan 250000 DR 922391.45

<class 'str'>
27  Before Change  12/02/2019 nan 558187 DR 1172391.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
27  after Change  28 12/02/2019  nan 558187 DR 1172391.45

<class 'str'>
28  Before Change  12/02/2019 nan 14160 CR 1730578.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
28  after Change  29 12/02/2019  nan 14160 CR 1730578.45

<class 'str'>
29  Before Change  12/02/2019 nan 14160 DR 1716418.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
29  after Change  30 12/02/2019  nan 14160 DR 1716418.45

<class 'str'>
30  Before Change  11/02/2019 nan 200000 DR 1730578.45 nan nan
colum shift:  2
Colums Index:  6 shiftPos 4
dtypeX <class 'float'>
Colums Index:  5 shiftPos 3
dtypeX <class 'float'>
Colums Index:  4 shiftPos 2
dtypeX <class 'str'>
Colums Index:  3 shiftPos 1
dtypeX <class 'str'>
Colums Index:  2 shiftPos 0
dtypeX <class 'str'>
30  after Change  31 11/02/2019  nan 200000 DR 1730578.45

<class 'str'>

In [15]:
df1

,sno,date,desc,iref,amount,tranType,balance
0,1,20/02/2019,CASH WITHDRAWAL BY SELF,697,11032,DR,173275.45
1,2,19/02/2019,TO CLG MR xxxxx,664,1112,DR,184307.45
2,3,19/02/2019,FUND TRANSFER-CMS- xxxxx,CMS-190219000DB0,444553,DR,185419.45
3,4,19/02/2019,NEFT-CMS-xxxxxx,CMS-190219000DAJ,500000,DR,629972.45
4,5,19/02/2019,NEFT-CMS-xxxxxx,CMS-190219000DAW,459557,DR,1129972.45
5,6,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAT,600000,DR,1589529.45
6,7,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAI CMS-190218002FCS,600000,DR,2189529.45
7,8,19/02/2019,,NEFT-CMS-xxxxx,122510,DR,2789529.45
8,9,18/02/2019,NEFT 000175085354 xxxxxx,NEFTINW-0141851624,200000,CR,2912039.45
9,10,18/02/2019,,CMS-190218001CT7,150000,DR,2712039.45
10,11,18/02/2019,ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx,CMS-190218001CT8,149643,DR,2862039.45
11,12,18/02/2019,FUND TRANSFER-CMS- xxxxxx,CMS-1902180019QW,38184,DR,3011682.45
12,13,18/02/2019,NEFT N049190753883194 xxxxxxxxxxxx,NEFTINW-0141744336 692,264862,CR,3049866.45
13,14,18/02/2019,,,10000,DR,2785004.45
14,15,16/02/2019,TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx,CMS-1902160012NY,2500,DR,2795004.45
15,16,16/02/2019,TO CLG xxxxxxxxx,690,1950,DR,2797504.45
16,17,15/02/2019,TO CLG MR xxxxx,689,8000,DR,2799454.45
17,18,14/02/2019,NaN,0653LCBD1901911,56756,DR,2807454.45
18,19,14/02/2019,BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHA...,NaN,1180,DR,2864210.45
19,20,14/02/2019,,NaN,2832000,CR,2865390.45
20,21,14/02/2019,TO CLG xxxx,688,4577,DR,33390.45
21,22,13/02/2019,NEFT-CMS-xxxxxx,CMS-190213000W50,16500,DR,37967.45
22,23,13/02/2019,TO CLG xxxx,684,34650,DR,54467.45
23,24,13/02/2019,TO CLG xxxx,685,14449,DR,89117.45
24,25,13/02/2019,NaN,687,8909,DR,103566.45
25,26,12/02/2019,NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I...,CMS-190212001N49 CMS-190212001N47 CMS-19021200...,809916,DR,112475.45
26,27,12/02/2019,,NaN,250000,DR,922391.45
27,28,12/02/2019,,NaN,558187,DR,1172391.45
28,29,12/02/2019,,NaN,14160,CR,1730578.45
29,30,12/02/2019,,NaN,14160,DR,1716418.45
30,31,11/02/2019,,NaN,200000,DR,1730578.45

#### If no value is there, put 'N/A' in case of 'Description/Cheque Ref Number'.

In [30]:
df1.replace('', np.nan, inplace=True)
df1.fillna("N/A", inplace=True)

In [17]:
df1.dtypes

sno         object
date        object
desc        object
iref        object
amount      object
tranType    object
balance     object
dtype: object

In [31]:
df1

,sno,date,desc,iref,amount,tranType,balance
0,1,20/02/2019,CASH WITHDRAWAL BY SELF,697,11032,DR,173275.45
1,2,19/02/2019,TO CLG MR xxxxx,664,1112,DR,184307.45
2,3,19/02/2019,FUND TRANSFER-CMS- xxxxx,CMS-190219000DB0,444553,DR,185419.45
3,4,19/02/2019,NEFT-CMS-xxxxxx,CMS-190219000DAJ,500000,DR,629972.45
4,5,19/02/2019,NEFT-CMS-xxxxxx,CMS-190219000DAW,459557,DR,1129972.45
5,6,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAT,600000,DR,1589529.45
6,7,19/02/2019,NEFT-CMS-xxxxx,CMS-190219000DAI CMS-190218002FCS,600000,DR,2189529.45
7,8,19/02/2019,N/A,NEFT-CMS-xxxxx,122510,DR,2789529.45
8,9,18/02/2019,NEFT 000175085354 xxxxxx,NEFTINW-0141851624,200000,CR,2912039.45
9,10,18/02/2019,N/A,CMS-190218001CT7,150000,DR,2712039.45
10,11,18/02/2019,ENGINEERING WORKS NEFT-CMS-JAY xxxxxxx,CMS-190218001CT8,149643,DR,2862039.45
11,12,18/02/2019,FUND TRANSFER-CMS- xxxxxx,CMS-1902180019QW,38184,DR,3011682.45
12,13,18/02/2019,NEFT N049190753883194 xxxxxxxxxxxx,NEFTINW-0141744336 692,264862,CR,3049866.45
13,14,18/02/2019,N/A,N/A,10000,DR,2785004.45
14,15,16/02/2019,TRANSPORT COMPANY NEFT-CMS-xxxxxxxxxxxxxxx,CMS-1902160012NY,2500,DR,2795004.45
15,16,16/02/2019,TO CLG xxxxxxxxx,690,1950,DR,2797504.45
16,17,15/02/2019,TO CLG MR xxxxx,689,8000,DR,2799454.45
17,18,14/02/2019,N/A,0653LCBD1901911,56756,DR,2807454.45
18,19,14/02/2019,BILL HANDLING CHRG 0653LCBD1901911 BILL PURCHA...,N/A,1180,DR,2864210.45
19,20,14/02/2019,N/A,N/A,2832000,CR,2865390.45
20,21,14/02/2019,TO CLG xxxx,688,4577,DR,33390.45
21,22,13/02/2019,NEFT-CMS-xxxxxx,CMS-190213000W50,16500,DR,37967.45
22,23,13/02/2019,TO CLG xxxx,684,34650,DR,54467.45
23,24,13/02/2019,TO CLG xxxx,685,14449,DR,89117.45
24,25,13/02/2019,N/A,687,8909,DR,103566.45
25,26,12/02/2019,NEFT-CMS-xxxxxxxxxxxxx NEFT-CMS-xxxxxxxxxxxx I...,CMS-190212001N49 CMS-190212001N47 CMS-19021200...,809916,DR,112475.45
26,27,12/02/2019,N/A,N/A,250000,DR,922391.45
27,28,12/02/2019,N/A,N/A,558187,DR,1172391.45
28,29,12/02/2019,N/A,N/A,14160,CR,1730578.45
29,30,12/02/2019,N/A,N/A,14160,DR,1716418.45
30,31,11/02/2019,N/A,N/A,200000,DR,1730578.45

#### a. How many numbers of transactions are made each day?

In [18]:
df1["date"].value_counts().sort_index()

11/02/2019    1
12/02/2019    5
13/02/2019    4
14/02/2019    4
15/02/2019    1
16/02/2019    2
18/02/2019    6
19/02/2019    7
20/02/2019    1
Name: date, dtype: int64

#### b. What was the balance at the start and end of the bank statement?

In [19]:
print("Balance at the start of month: ",df1.tail(1).balance.iloc[0])
print("Balance at the end of month: ",df1.head(1).balance.iloc[0])

Balance at the start of month:  1730578.45
Balance at the end of month:  173275.45

#### c. Whether the person is spending or earning more?

In [20]:
def earning_spending_summary(earning, spending):
    saving = earning- spending
    if saving > 0:
        print("!!! Earning is more :)  ")
    else:
        print("!!! Expenses is more :( ")

In [21]:
x =pd.to_numeric(df1["amount"].head())
x

0     11032
1      1112
2    444553
3    500000
4    459557
Name: amount, dtype: int64

In [22]:
drQuery = (df1['tranType'] == "DR")
crQuery = (df1['tranType'] == "CR")
drSum = pd.to_numeric(df1[drQuery]["amount"]).sum()
crSum = pd.to_numeric(df1[crQuery]["amount"]).sum()

earning_spending_summary(crSum,drSum)

!!! Expenses is more :(